 <%= form_for :channel, url: pick_dates_path(:start_date,:end_date) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= label_tag 'Single Date Query?' %>
          <%= check_box_tag :single_date, 'yes', checked = false %>
        </div>
      </div>
      <!-- Start Time -->
      <div class="col-md-6 col-xs-6">
        <h4>Pick a starting point</h4>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
              <%= text_field :date, :start_date, class: 'form-control', format: 'YYYY-MM-DD' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <!-- End Time -->
      <div class="col-md-6 col-xs-6">
        <h4 id="ending-point-header">Pick an ending point</h4>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
              <%= text_field :date, :end_date, class: 'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <%= f.submit 'Show Orders', class: 'btn btn-primary', data: { disable_with: "Please wait..." } %>
      </div>
    </div>
  </div>
<% end %>