<!DOCTYPE html>
<html>
<head>
  <title>Aziz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/main_header' if user_signed_in? %>

<div class="container">
  <div class="row">
    <%= flash_messages %>
    <%= yield %>
  </div><!--end_.row-->
</div><!--end_.container-->
</body>
</html>
